@import '../../node_modules/bootstrap/scss/functions';

$spacer: 2rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 2.5,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  // xxl: 1140px,
);

@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';

$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;

$blue-tkd: #358bd2;
$red-tkd: #f14964;
$yellow-tkd: #dcc327;

$custom-colors: (
  'blue-tkd': $blue-tkd,
  'red-tkd': $red-tkd,
  'yellow-tkd': $yellow-tkd,
);

$utilities: map-merge(
  $utilities,
  (
    'border-bottom':
      map-merge(
        map-get($utilities, 'border-bottom'),
        (
          responsive: true,
        )
      ),
  )
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$utilities: map-merge(
  $utilities,
  (
    'background-color': (
      property: background-color,
      class: bg,
      values: map-merge($theme-colors, $custom-colors),
    ),
  )
);

@import '../../node_modules/bootstrap/scss/utilities/api';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$spacer: 2rem !default;

p {
  margin: 0px;
}

.fs-18 {
  font-size: 18px;
}

.navbar {
  backdrop-filter: blur(8px);
}

.nav-link {
  font-size: 18px;
}

.header {
  background-image: url('../assets/img/hero.webp');
  background-size: cover;
  background-position: center center;

  &__title {
    color: $black;

    div {
      background-color: rgba($light, 0.2);
      backdrop-filter: blur(6px);
    }
  }
}

.moved {
  bottom: 80px;
  section {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  }
}

.card {
  transition: box-shadow 0.2s ease-out;
}
.card:hover {
  box-shadow: $box-shadow !important;
}

.schedule {
  &__hour {
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

#tkd-kid {
  position: absolute;
  right: -55px;
  bottom: 0;
  width: auto;
  padding: 0px;

  img {
    height: 150px;
  }
  @media (min-width: 768px) {
    right: -150px;
    img {
      height: 200px;
    }
  }
}
