@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.navbar {
  backdrop-filter: blur(8px);
}

.nav-link {
  font-size: 18px;
}

.header {
  background-image: url('../assets/img/hero.png');
  background-size: cover;
  background-position: center center;

  &__title {
    color: $black;

    div {
      background-color: rgba($light, 0.2);
      backdrop-filter: blur(6px);
    }
  }
}
